body {
  font-family: Arial, sans-serif;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  min-width: 200px;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
}

.footer-section h3 {
  color: #f0f0f0;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul li a {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a:hover {
  color: #fff;
}

.social-icons i {
  margin-right: 10px;
  font-size: 18px;
  color: #f1514a;
}

.donate-btn a{
	text-decoration: none;
	color:#fff;
}


.donate-btn span {
  margin-left: 5px;
}


.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #ccc;
}

.footer-bottom a {
  color: #f1514a;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #fff;
}

.back-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #f1514a;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.back-to-top i {
  color: #fff;
  font-size: 20px;
}
